header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 14vh;
  padding: 0px 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

header .logo {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  position: relative;
  z-index: 2;
}

header .logo img {
  width: 100%;
}

header .menu {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 4;
  cursor: pointer;
  position: relative;
}

header .menu .bar {
  width: 50%;
  height: 5px;
  right: 0%;
  border-radius: 5px;
  background-color: #0493a3;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header .menu .bar::before {
  content: '';
  width: 50%;
  height: 5px;
  background-color: #0493a3;
  position: absolute;
  border-radius: 5px;
  top: 30%;
  left: 25%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header .menu .bar::after {
  content: '';
  width: 50%;
  height: 5px;
  background-color: #0493a3;
  position: absolute;
  border-radius: 5px;
  bottom: 30%;
  left: 25%;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  background-color: #27226B;
  width: 100%;
}

header nav ul {
  display: none;
  list-style: none;
  text-align: center;
}

header nav ul li a {
  color: white !important;
  text-decoration: none;
  font-size: 25px;
}

.open {
  height: 100vh;
  width: 90%;
  z-index: 4;
}

.open .menu {
  position: absolute;
  z-index: 4;
  width: 10%;
  top: 34px;
  right: 0%;
}

.open .menu .bar {
  background: transparent;
  position: absolute;
}

.open .menu .bar::before {
  -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-26px, -6px);
          transform: rotateZ(-45deg) scaleX(0.75) translate(-26px, -6px);
  background-color: #0493a3;
  width: 50px;
}

.open .menu .bar::after {
  width: 28px;
  -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-27px, 6px);
          transform: rotateZ(45deg) scaleX(0.75) translate(-27px, 6px);
  width: 50px;
  background-color: #0493a3;
}

.open nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  right: 0%;
}

.open nav ul {
  padding: 40px 90px;
  display: block;
}

.open nav ul li {
  list-style: none;
}

.open nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  margin: 5px;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  text-align: center;
  padding-top: 45%;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .bleft {
  position: absolute;
  top: 0%;
  left: -1%;
  width: 48%;
}

.banner .bright {
  position: absolute;
  top: -4px;
  right: -10px;
  width: 51%;
}

.banner .bannertxt {
  width: 100%;
  padding: 70px 0px 20px;
}

.banner .bannertxt h1 {
  font-size: 30px;
  font-family: "regular";
  margin: 5px auto 10px;
}

.banner .bannertxt p {
  font-size: 15px;
  color: #27226b;
  font-family: "semi";
}

.banner .bannertxt button {
  color: white;
  background-color: #0493a3;
  height: 7vh;
  width: 40%;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  font-weight: "regular";
}

.banner .banner-img {
  width: 100%;
}

.banner .banner-img img {
  width: 90%;
  margin: auto;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 20px 30px;
  position: relative;
  text-align: center;
}

.about .aboutpic {
  width: 100%;
}

.about .aboutpic .eclipse {
  position: absolute;
  z-index: -2;
  right: 5%;
  top: 6%;
  width: 95%;
}

.about .aboutpic img {
  width: 100%;
}

.about .abouttxt {
  width: 100%;
  padding: 40px 0px;
}

.about .abouttxt h2 {
  font-size: 25px;
  font-family: "regular";
  color: #0493a3;
}

.about .abouttxt p {
  font-size: 15px;
  font-family: "mid";
  color: #27226B;
}

.about .abouttxt button {
  border: none;
  background-color: #27226B;
  color: white;
  height: 7vh;
  font-size: 18px;
  font-family: "regular";
  width: 40%;
}

.about .path {
  display: none;
}

.education {
  padding: 30px 10px;
}

.education h2 {
  color: #0493a3;
  font-size: 28px;
  font-family: "regular";
}

.education .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  border: none;
}

.education .tabs .tab {
  float: left;
  border: none;
  background-color: #dfe8eb;
  width: 100%;
  height: 45vh;
}

.education .tabs .tab button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: transparent;
  color: #AFAFB1;
  padding: 22px 16px;
  width: 90%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 17px;
  margin: 5%;
}

.education .tabs .tab button:hover {
  color: #0493a3;
}

.education .tabs .tab button.active {
  color: #0493a3;
}

.education .tabs hr {
  display: none;
}

.education .tabs .tabcontent {
  float: left;
  padding: 0px 12px;
  border: none;
  width: 100%;
  border-left: none;
  height: 65vh;
  border-radius: 0 10px 10px 0;
}

.education .tabs .tabcontent h3 {
  font-size: 25px;
  font-family: "bold";
}

.education .tabs .tabcontent p {
  font-size: 15px;
  font-family: "regular";
}

.education .tabs .tabcontent button {
  background-color: #27226B;
  border: none;
  color: white;
  height: 6vh;
  width: 65%;
  font-size: 18px;
  font-family: "regular";
}

.education .serve {
  display: none;
}

.warm-line {
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.warm-line .warmtxt {
  width: 100%;
}

.warm-line .warmtxt h2 {
  font-size: 28px;
  font-family: "regular";
  color: #0493a3;
}

.warm-line .warmtxt p {
  font-size: 18px;
  font-family: "mid";
  color: #27226B;
}

.warm-line .warmtxt button {
  border: none;
  width: 100%;
  height: 7vh;
  font-size: 18px;
  font-family: "regular";
  color: white;
  border-radius: 5px;
  background-color: #27226B;
}

.warm-line .telephone {
  width: 100%;
  margin: 30px auto;
}

.warm-line .telephone img {
  width: 100%;
}

.globe {
  padding: 50px 20px;
  text-align: center;
  position: relative;
}

.globe .round {
  display: none;
}

.globe .global {
  background-color: #27226B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

.globe .global .atlas {
  width: 100%;
  margin-bottom: 20px;
}

.globe .global .atlas img {
  -o-object-fit: contain;
     object-fit: contain;
}

.globe .global .globetext {
  width: 100%;
}

.globe .global .globetext h4 {
  color: white;
  font-size: 18px;
  font-family: "regular";
}

.globe .global .globetext p {
  color: white;
  font-family: "regular";
  font-size: 13px;
}

.globe .global .globetext a {
  text-decoration: none;
  color: white;
  background-color: #27226B;
  border: 2px white solid;
  font-size: 13px;
  padding: 10px;
}

.fundraising {
  padding: 50px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
}

.fundraising .fund {
  width: 100%;
}

.fundraising .fund img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 5px;
}

.fundraising .fundraise {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

.fundraising .fundraise img {
  width: 100%;
  height: 100vh;
  margin: 10px auto;
}

.fundraising .fundraise .fundtxt {
  width: 100%;
  position: absolute;
  bottom: 6%;
}

.fundraising .fundraise .fundtxt h2 {
  color: white;
  font-size: 30px;
  font-family: "extra";
}

.fundraising .fundraise .fundtxt p {
  color: white;
  font-size: 16px;
  font-family: "mid";
  width: 100%;
}

.fundraising .fundraise .fundtxt button {
  border: none;
  background-color: #0493a3;
  color: white;
  height: 7vh;
  width: 56%;
  font-family: "regular";
  font-size: 15px;
}

.join-team {
  padding: 50px 20px;
  text-align: center;
}

.join-team .join {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.join-team .join .pathy {
  position: absolute;
  display: none;
  left: 0;
  width: 80%;
  z-index: -1;
}

.join-team .join .lopes {
  position: absolute;
  display: none;
  right: 5%;
  width: 100%;
  z-index: -1;
}

.join-team .join .jointxt {
  width: 100%;
  background-color: #0493a3;
  padding: 30px 50px;
}

.join-team .join .jointxt h3 {
  font-size: 25px;
  font-family: "regular";
  color: white;
}

.join-team .join .jointxt p {
  font-size: 15px;
  font-family: "regular";
  color: white;
}

.join-team .join .jointxt a {
  background-color: transparent;
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "regular";
  padding: 15px;
  border: 2px white solid;
}

.join-team .join .repeat {
  width: 100%;
  background-color: #0493a3;
  margin-bottom: 15px;
}

.join-team .join #text {
  width: 100%;
  background-color: #27226B;
  padding: 30px 50px;
}

.join-team .join #text h3 {
  font-family: "regular";
  font-size: 25px;
  color: white;
}

.join-team .join #text p {
  font-size: 15px;
  font-family: "regular";
  color: white;
}

.join-team .join #text #register {
  color: white;
  text-decoration: none;
  border: 2px white solid;
  padding: 15px;
  font-size: 12px;
  font-family: "regular";
}

.advocacy {
  padding: 30px 20px;
  text-align: center;
}

.advocacy .advocate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.advocacy .advocate .volunteer {
  width: 100%;
  padding: 30px 50px;
  background-color: #27226B;
  border-radius: 5px;
  outline: 2px solid white;
  outline-offset: -20px;
}

.advocacy .advocate .volunteer h3 {
  font-size: 30px;
  font-family: "regular";
  color: white;
  margin: 10px auto;
}

.advocacy .advocate .volunteer p {
  font-size: 15px;
  font-family: "regular";
  color: white;
}

.advocacy .advocate .volunteer a {
  color: white;
  text-decoration: none;
  width: 79%;
  padding: 5px 10px;
  border: 2px white solid;
  font-size: 12px;
  margin: 5px auto;
}

.advocacy .advocate .helena {
  width: 100%;
  margin: 20px auto;
}

.advocacy .advocate #voluntary {
  width: 100%;
  background-color: #0493a3;
  padding: 50px 30px;
}

.advocacy .advocate #voluntary h3 {
  font-size: 30px;
  font-family: "regular";
  color: white;
  margin: 10px auto;
}

.advocacy .advocate #voluntary p {
  font-size: 15px;
  font-family: "regular";
  color: white;
}

.advocacy .advocate #voluntary a {
  color: white;
  text-decoration: none;
  width: 79%;
  padding: 8px 10px;
  border: 2px white solid;
  font-size: 15px;
}

footer {
  padding: 30px 20px;
  text-align: center;
  position: relative;
  background-image: url(../img/footerb.png);
}

footer .mail {
  display: none;
}

footer .brain {
  display: none;
}

footer .jonh {
  display: none;
}

footer h2 {
  color: #0493a3;
  font-size: 22px;
  font-family: "regular";
}

footer form {
  width: 100%;
}

footer form input {
  width: 60%;
  height: 5vh;
  outline: none;
  border: none;
}

footer form button {
  border: none;
  background-color: #27226B;
  color: white;
  height: 5vh;
  width: 30%;
}

footer .links {
  width: 75%;
  margin: auto;
}

footer .links ul h4 {
  color: #27226B;
}

footer .links ul li {
  list-style: none;
}

footer .links ul li a {
  text-decoration: none;
  color: #27226B;
}

@media (min-width: 1024px) {
  header {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 14vh;
    padding: 0px 30px;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
  }
  header .logo {
    width: 12%;
  }
  header .logo img {
    width: 100%;
  }
  header .menu {
    width: 30%;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 4;
    cursor: pointer;
    position: relative;
  }
  header .menu .bar {
    width: 50%;
    height: 5px;
    right: 0%;
    border-radius: 5px;
    background-color: #0493a3;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  header .menu .bar::before {
    content: '';
    width: 50%;
    height: 5px;
    background-color: #0493a3;
    position: absolute;
    border-radius: 5px;
    top: 30%;
    left: 25%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  header .menu .bar::after {
    content: '';
    width: 50%;
    height: 5px;
    background-color: #0493a3;
    position: absolute;
    border-radius: 5px;
    bottom: 30%;
    left: 25%;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  header nav {
    margin-left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: transparent;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  header nav ul li {
    padding-left: 40px;
  }
  header nav ul li a {
    font-size: 25px;
  }
  .banner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100vh;
    text-align: left;
    padding: 13% 15px;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .banner .bleft {
    position: absolute;
    top: -33px;
    left: -6px;
    width: 51%;
    z-index: -1;
  }
  .banner .bright {
    position: absolute;
    top: -13px;
    right: -10px;
    width: 48%;
    z-index: -1;
  }
  .banner .bannertxt {
    width: 43%;
    padding: 40px 0px 20px;
  }
  .banner .bannertxt h1 {
    font-size: 71px;
    color: white;
    margin: 30px auto 90px;
  }
  .banner .bannertxt h1 span {
    display: block;
    font-family: "regular";
    font-size: 71px;
  }
  .banner .bannertxt p {
    font-size: 23px;
    margin: 10px auto 10px;
  }
  .banner .bannertxt p span {
    display: block;
    font-family: "bold";
  }
  .banner .bannertxt button {
    color: white;
    background-color: #0493a3;
    height: 7vh;
    font-size: 20px;
    font-family: "regular";
    width: 40%;
    margin: 3px auto;
  }
  .banner .banner-img {
    width: 55%;
    padding-top: 70px;
  }
  .banner .banner-img img {
    width: 100%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 60px 20px;
    position: relative;
    text-align: left;
  }
  .about .aboutpic {
    width: 48%;
    padding: 50px 20px;
  }
  .about .aboutpic .eclipse {
    display: block;
    position: absolute;
    z-index: -2;
    left: 2px;
    top: 13%;
    width: 45%;
    z-index: -1;
  }
  .about .aboutpic img {
    width: 100%;
  }
  .about .abouttxt {
    width: 48%;
    padding: 100px 50px 20px;
  }
  .about .abouttxt h2 {
    font-size: 45px;
    font-family: "regular";
    color: #0493a3;
  }
  .about .abouttxt p {
    font-size: 21px;
    font-family: "mid";
    color: #27226B;
  }
  .about .abouttxt button {
    border: none;
    background-color: #27226B;
    color: white;
    height: 7vh;
    width: 30%;
    font-size: 23px;
    font-family: "regular";
  }
  .about .path {
    position: absolute;
    display: block;
    top: -17vh;
    right: 0%;
    width: 100%;
    z-index: -2;
  }
  .education {
    padding: 80px 10px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/footer.png);
  }
  .education h2 {
    color: #0493a3;
    font-size: 45px;
    font-family: "regular";
    text-align: center;
  }
  .education .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .education .tabs .tab {
    float: left;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 30vh;
  }
  .education .tabs .tab button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: inherit;
    color: #AFAFB1;
    padding: 0px 16px 0px;
    width: 90%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 30px;
    margin: auto;
  }
  .education .tabs .tab button:hover {
    color: #0493a3;
  }
  .education .tabs .tab button.active {
    color: #0493a3;
  }
  .education .tabs hr {
    display: block;
    width: 5px;
    height: 40vh;
    color: #27226B;
    opacity: 1;
    margin-right: 30px;
  }
  .education .tabs .tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 100%;
    border-left: none;
    height: 45vh;
    border-radius: 0;
  }
  .education .tabs .tabcontent p {
    font-size: 22px;
    margin: 20px auto;
  }
  .education .tabs .tabcontent button {
    width: 45%;
    height: 7vh;
    font-family: "regular";
    font-size: 23px;
  }
  .education .serve {
    position: absolute;
    bottom: -21%;
    right: -15%;
    display: block;
    width: 28%;
  }
  .warm-line {
    padding: 40px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .warm-line .warmtxt {
    width: 48%;
  }
  .warm-line .warmtxt h2 {
    font-size: 45px;
    font-family: "regular";
  }
  .warm-line .warmtxt p {
    font-size: 24px;
    font-family: "mid";
    color: #27226B;
  }
  .warm-line .warmtxt button {
    width: 100%;
    height: 8vh;
    font-family: "regular";
    font-size: 35px;
  }
  .warm-line .telephone {
    width: 48%;
    margin: 30px auto;
  }
  .warm-line .telephone img {
    width: 100%;
  }
  .globe {
    padding: 70px 20px;
    text-align: left;
  }
  .globe .round {
    display: block;
    position: absolute;
    top: 2%;
    left: 21%;
    width: 55%;
    z-index: -1;
  }
  .globe .global {
    background-color: #27226B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  .globe .global .atlas {
    width: 48%;
    margin-bottom: 20px;
  }
  .globe .global .atlas img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .globe .global .globetext {
    width: 48%;
  }
  .globe .global .globetext h4 {
    color: white;
    font-size: 35px;
    font-family: "regular";
  }
  .globe .global .globetext p {
    color: white;
    font-family: "regular";
    font-size: 22px;
  }
  .globe .global .globetext a {
    text-decoration: none;
    color: white;
    background-color: #27226B;
    border: 2px white solid;
    font-size: 25px;
    padding: 15px 100px;
  }
  .fundraising {
    padding: 50px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .fundraising .fund {
    width: 33%;
  }
  .fundraising .fund img {
    width: 80%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 5px;
  }
  .fundraising .fundraise {
    width: 33%;
    position: relative;
  }
  .fundraising .fundraise img {
    width: 100%;
    height: 100vh;
    margin: 5px auto;
  }
  .fundraising .fundraise .fundtxt {
    width: 100%;
    position: absolute;
    bottom: 6%;
  }
  .fundraising .fundraise .fundtxt h2 {
    font-size: 45px;
    border-bottom: 3px white solid;
    width: 50%;
    margin: auto;
  }
  .fundraising .fundraise .fundtxt p {
    font-size: 22px;
    width: 98%;
    margin: 30px auto 10px;
  }
  .fundraising .fundraise .fundtxt button {
    height: 7vh;
    width: 54%;
    font-size: 20px;
  }
  .join-team {
    padding: 50px 20px;
    text-align: left;
  }
  .join-team .join {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .join-team .join .pathy {
    position: absolute;
    display: block;
    left: 0%;
    width: 70%;
    z-index: -1;
  }
  .join-team .join .lopes {
    position: absolute;
    display: block;
    right: 2%;
    width: 46%;
    z-index: -1;
  }
  .join-team .join .jointxt {
    width: 48%;
    background-color: transparent;
    padding: 30px 50px;
  }
  .join-team .join .jointxt h3 {
    font-size: 35px;
    font-family: "regular";
  }
  .join-team .join .jointxt p {
    font-size: 20px;
    margin: 30px auto;
  }
  .join-team .join .jointxt a {
    font-size: 20px;
    width: 50%;
  }
  .join-team .join .repeat {
    width: 20%;
    background-color: transparent;
    margin-bottom: 15px;
    position: relative;
    right: 7%;
    top: 57px;
  }
  .join-team .join #text {
    width: 42%;
    background-color: transparent;
    text-align: right;
  }
  .join-team .join #text h3 {
    font-size: 35px;
  }
  .join-team .join #text p {
    font-size: 20px;
    margin: 30px auto;
  }
  .join-team .join #text #register {
    width: 78%;
    font-size: 18px;
  }
  .advocacy {
    padding: 30px 20px;
    text-align: center;
  }
  .advocacy .advocate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advocacy .advocate .volunteer {
    width: 33%;
    padding: 40px;
    outline: 2px solid white;
    outline-offset: -20px;
  }
  .advocacy .advocate .volunteer h3 {
    font-size: 35px;
    margin: 10px auto;
  }
  .advocacy .advocate .volunteer p {
    font-size: 22px;
    margin: 15px auto;
  }
  .advocacy .advocate .volunteer a {
    padding: 8px 10px;
    font-size: 20px;
  }
  .advocacy .advocate .helena {
    width: 33%;
    margin: 20px auto;
  }
  .advocacy .advocate #voluntary {
    width: 33%;
    padding: 40px;
  }
  .advocacy .advocate #voluntary h3 {
    font-size: 35px;
    margin: 10px auto;
  }
  .advocacy .advocate #voluntary p {
    font-size: 22px;
    margin: 15px auto;
  }
  .advocacy .advocate #voluntary a {
    color: white;
    text-decoration: none;
    width: 79%;
    padding: 8px 10px;
    border: 2px white solid;
    font-size: 18px;
    margin: 5px auto;
  }
  footer {
    padding: 30px 20px;
    text-align: center;
    position: relative;
    background-image: url(../img/footerb.png);
  }
  footer .mail {
    display: block;
    position: absolute;
    left: 0;
    top: 5%;
  }
  footer .brain {
    display: block;
    position: absolute;
    right: 2%;
    top: 8%;
  }
  footer .brain img {
    width: 100%;
  }
  footer .jonh {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
  }
  footer h2 {
    font-size: 45px;
    margin: 30px auto;
  }
  footer form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer form input {
    width: 35%;
    height: 7vh;
    outline: none;
    border: none;
    margin-right: 15px;
  }
  footer form button {
    height: 7vh;
    width: 15%;
    font-size: 26px;
  }
  footer .links {
    width: 55%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 60px auto;
    text-align: left;
  }
  footer .links ul {
    width: 35%;
  }
  footer .links ul h4 {
    color: #27226B;
  }
  footer .links ul li {
    list-style: none;
  }
  footer .links ul li a {
    font-size: 15px;
  }
}

@media (min-width: 569px) and (max-width: 768px) {
  .open .menu .bar {
    background: transparent;
    position: absolute;
  }
  .open .menu .bar::before {
    -webkit-transform: rotateZ(-45deg) scaleX(0.75) translate(-26px, -6px);
            transform: rotateZ(-45deg) scaleX(0.75) translate(-26px, -6px);
    background-color: #0493a3;
    width: 50px;
  }
  .open .menu .bar::after {
    width: 28px;
    -webkit-transform: rotateZ(45deg) scaleX(0.75) translate(-27px, 6px);
            transform: rotateZ(45deg) scaleX(0.75) translate(-27px, 6px);
    width: 50px;
    background-color: #0493a3;
  }
  .open nav {
    right: 0;
  }
  .open nav ul {
    padding: 40px 90px;
  }
  .open nav ul li {
    list-style: none;
  }
  .open nav ul li a {
    font-size: 55px;
    margin: 15px auto;
  }
  .banner .bleft {
    left: -1%;
  }
  .banner .bright {
    right: -1%;
    top: -12px;
  }
  .banner .bannertxt h1 {
    font-size: 45px;
  }
  .banner .bannertxt h1 span {
    font-size: 45px;
  }
  .banner .bannertxt p {
    font-size: 22px;
  }
  .banner .bannertxt p span {
    font-size: 22px;
  }
  .banner .bannertxt button {
    font-size: 25px;
  }
  .about .abouttxt h2 {
    font-size: 55px;
  }
  .about .abouttxt p {
    font-size: 22px;
  }
  .about .abouttxt button {
    font-size: 25px;
    height: 5vh;
    width: 32%;
  }
  .education {
    padding: 80px 10px;
    position: relative;
    background-image: url(../img/footer.png);
  }
  .education h2 {
    color: #0493a3;
    font-size: 38px;
    text-align: center;
  }
  .education .tabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
  }
  .education .tabs .tab {
    float: left;
    border: none;
    background-color: transparent;
    width: 100%;
    height: 30vh;
  }
  .education .tabs .tab button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: inherit;
    color: #AFAFB1;
    padding: 0px 16px 0px;
    width: 90%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 30px;
    margin: 3%;
  }
  .education .tabs .tab button:hover {
    color: #0493a3;
  }
  .education .tabs .tab button.active {
    color: #0493a3;
  }
  .education .tabs hr {
    display: block;
    width: 5px;
    height: 35vh;
    color: #27226B;
    opacity: 1;
    margin-right: 30px;
  }
  .education .tabs .tabcontent {
    float: left;
    padding: 0px 12px;
    border: none;
    width: 100%;
    border-left: none;
    height: 40vh;
    border-radius: 0;
  }
  .education .tabs .tabcontent p {
    font-size: 20px;
    margin: 25px auto;
  }
  .education .tabs .tabcontent button {
    width: 50%;
    font-size: 23px;
  }
  .education .serve {
    position: absolute;
    right: -5%;
    bottom: 5%;
    display: block;
    width: 26%;
  }
  .warm-line .warmtxt h2 {
    font-size: 45px;
  }
  .warm-line .warmtxt p {
    font-size: 22px;
  }
  .warm-line .warmtxt button {
    width: 100%;
    font-size: 25px;
    font-family: "regular";
  }
  .globe {
    padding: 50px 20px;
    text-align: left;
  }
  .globe .round {
    display: block;
    position: absolute;
    top: 5%;
    left: 21%;
    width: 70%;
    z-index: -1;
  }
  .globe .global {
    background-color: #27226B;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 30px;
  }
  .globe .global .atlas {
    width: 48%;
    margin-bottom: 20px;
    height: 40vh;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .globe .global .atlas img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .globe .global .globetext {
    width: 48%;
  }
  .globe .global .globetext h4 {
    color: white;
    font-size: 28px;
    font-family: "regular";
  }
  .globe .global .globetext p {
    color: white;
    font-family: "regular";
    font-size: 14px;
  }
  .globe .global .globetext a {
    text-decoration: none;
    color: white;
    background-color: #27226B;
    border: 2px white solid;
    font-size: 15px;
    padding: 15px 50px;
  }
  .fundraising {
    padding: 50px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: center;
  }
  .fundraising .fund {
    width: 90%;
  }
  .fundraising .fund img {
    width: 90%;
    -o-object-fit: contain;
       object-fit: contain;
    margin: 5px;
  }
  .fundraising .fundraise {
    width: 90%;
    position: relative;
    margin-bottom: 10px;
  }
  .fundraising .fundraise img {
    width: 94%;
    height: 100vh;
    margin: 5px;
  }
  .fundraising .fundraise .fundtxt {
    width: 95%;
    position: absolute;
    bottom: 16%;
  }
  .fundraising .fundraise .fundtxt h2 {
    font-size: 45px;
  }
  .fundraising .fundraise .fundtxt p {
    font-size: 21px;
    width: 98%;
    margin: auto 20px;
  }
  .fundraising .fundraise .fundtxt button {
    height: 6vh;
    width: 45%;
    font-family: "regular";
    font-size: 20px;
  }
  .join-team {
    padding: 50px 20px;
    text-align: center;
  }
  .join-team .join {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .join-team .join .pathy {
    display: none;
  }
  .join-team .join .lopes {
    display: none;
  }
  .join-team .join .jointxt {
    width: 100%;
  }
  .join-team .join .jointxt h3 {
    font-size: 45px;
  }
  .join-team .join .jointxt p {
    font-size: 22px;
    margin: 25px auto;
  }
  .join-team .join .jointxt a {
    font-size: 23px;
    font-family: "regular";
    width: 50%;
    padding: 15px 10px;
    margin: auto;
  }
  .join-team .join .repeat {
    width: 100%;
    background-color: #0493a3;
    margin-bottom: 15px;
  }
  .join-team .join #text {
    width: 100%;
  }
  .join-team .join #text h3 {
    font-family: "regular";
    font-size: 45px;
  }
  .join-team .join #text p {
    font-size: 22px;
    font-family: "regular";
  }
  .join-team .join #text #register {
    font-size: 23px;
    color: white;
    font-family: "regular";
    padding: 15px;
    text-decoration: none;
  }
  .advocacy {
    padding: 30px 20px;
    text-align: center;
  }
  .advocacy .advocate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .advocacy .advocate .volunteer {
    width: 100%;
    padding: 60px 50px;
    background-color: #27226B;
    border-radius: 5px;
    outline: 2px solid white;
    outline-offset: -20px;
  }
  .advocacy .advocate .volunteer h3 {
    font-size: 40px;
  }
  .advocacy .advocate .volunteer p {
    font-size: 22px;
    margin: 15px auto;
  }
  .advocacy .advocate .volunteer a {
    color: white;
    width: 45%;
    padding: 12px;
    font-size: 22px;
  }
  .advocacy .advocate .helena {
    width: 100%;
    margin: 20px auto;
  }
  .advocacy .advocate #voluntary {
    width: 100%;
  }
  .advocacy .advocate #voluntary h3 {
    font-size: 45px;
  }
  .advocacy .advocate #voluntary p {
    font-size: 24px;
    font-family: "regular";
    color: white;
  }
  .advocacy .advocate #voluntary a {
    width: 45%;
    font-size: 22px;
    margin: auto;
  }
  footer {
    padding: 30px 20px;
    text-align: center;
    position: relative;
    background-image: url(../img/footerb.png);
  }
  footer .mail {
    display: block;
    position: absolute;
    left: 0;
    top: 5%;
    width: 12%;
  }
  footer .brain {
    display: block;
    position: absolute;
    right: 2%;
    top: 8%;
    width: 12%;
  }
  footer .brain img {
    width: 100%;
  }
  footer .jonh {
    display: block;
    position: absolute;
    left: 0%;
    bottom: 0;
    width: 12%;
  }
  footer h2 {
    font-size: 37px;
    margin: 30px auto;
  }
  footer form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer form input {
    width: 50%;
    height: 5vh;
    outline: none;
    border: none;
    margin-right: 20px;
  }
  footer form button {
    height: 5vh;
    width: 20%;
    font-size: 26px;
  }
  footer .links {
    width: 75%;
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: 60px auto;
    text-align: left;
  }
  footer .links ul {
    width: 33%;
  }
  footer .links ul h4 {
    color: #27226B;
    font-size: 25px;
    font-family: "regular";
  }
  footer .links ul li {
    list-style: none;
  }
  footer .links ul li a {
    font-size: 18px;
  }
}
/*# sourceMappingURL=style.css.map */